* {
    margin: 0;
    padding: 0;
  }
  
.flexed-parent{
    display:flex;
}

svg{

}

.dashboard-text{
    align-self: center;
    margin-left:-10px;
    font-size:2rem;
    font-weight:400;
}
.dashboard-svg{
    margin-left:-10px;
    color: white; /* Or any color of your choice. */
    width:4rem; 
    fill: gray;
}

.card-svg{
    width:2rem;
    fill: rgb(137, 167, 207);
    
}
.nav-svg{
    color: white; /* Or any color of your choice. */
    width:2rem; 
    fill: #e4e4e4;

}

.icon-container{
    margin:20px;
    display:grid;
    grid-template-columns:70px 130px;
}
.icon-text{
    align-self: center;
    padding:2px 2px 0 2px;
    font-size:1.2rem;

}



html,body{
    height:100%;
    color:rgb(80, 66, 66);

}
.body{
    display:grid;
    grid-template-rows:1fr 4fr ;
    grid-template-columns:0.5fr 5fr;
    gap:10px;
    height:100%;
    font-size: 30px;
   
}


.dashboard{
  font-size: 3.5rem;
}
nav{
    font-size:initial;
    color:white;
    background-color: rgb(32, 87, 124);
    grid-row: 1/3;
    grid-column: 1/2;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 1fr 2fr;
  
}

.nav1{
    grid-row: 1/2;
    padding-bottom:20px;
}
.nav2{
    grid-row: 2/3;
    padding-bottom:30px;

}
.nav3{
    grid-row: 3/4;
}



.icons1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.icons2{
    grid-column: 1/2;
    grid-row: 2/3;
}

.icons3{
    grid-column: 1/2;
    grid-row: 3/4;
}

header{

    background-color: bisque;
    grid-row:1/2;
    grid-column:2/3;
    display:grid;
    grid-template-rows: 0.5fr 1fr;
    /*add rows later */
}

.header1{
    margin:10px 10px 0 10px;
    padding:10px;
    display:flex;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
}
.header2{
    margin:0 10px 10px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.user-content-svg{
    color: white; /* Or any color of your choice. */
    width:2rem; 
    fill: gray;
    padding:20px;
    min-width:2rem;
}

.user-content{
    display:flex;
    align-items: center;
 
}

.user-content-username{
    font-weight: 600;
    font-size: 1.4rem;
    padding:5px;
}

.user-info{
    padding:0 20px;
    display:flex;
    align-items: center;
}

.user-info-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-right:10px;

}
.user-info-greeting{
    display:flex;
    flex-direction: column;


}
.user-info-welcome{
    font-size: 1.1rem;
    font-weight:600;
}
.user-info-handle{
    font-weight:600;
}

.share{
    padding:0 20px;
    display:flex;
    justify-content: space-between;

}
.share-button{
    margin:0 15px;
    background-color: rgb(32, 87, 124);
    color:white;
    font-size:1.5rem;
    border-radius: 25px;
    padding:5px 25px;
}
.search-svg{
    color: white; /* Or any color of your choice. */
    width:2rem; 
    fill: gray;
    padding-right:10px;
    margin-top:10px;
}





.search-content{
    display:flex;
    align-items: center;


  
}

.search-bar{
    justify-self: center;
    align-self: center;
    margin:10px;

}


.search-bar-form{

}
.rounded-search{
    border-radius: 25px;
    border: 1px gray solid;
    padding:5px 5px 5px 25px;
    background-color: rgb(194, 228, 228,0.4); 


}

.flight-search{
    border-radius: 25px;
}
.content{

    padding:20px;
    background-color: rgb(194, 228, 228);
    grid-row:2/3;
    grid-column:2/3;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 4fr;
    /*
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr)) 1fr;*/
}

.content-title{
    font-weight: 600;
    justify-self: start;
    grid-row: 1/2;
    grid-column: 1/2;
}

/* before changing content-card to content-card-area, and making new card selector...used combinator selectors
.content-cards .card{
    background-color: gray;
    border-left: 1rem solid rgba(25, 103, 134, 0.9);
    border-radius: 5%
}*/

.content-card-area{

    padding:10px;
    grid-column: 1/2;
    grid-row: 2/3;
    display:grid;
    gap:20px;
  
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}



.content-card{
    margin:5px;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-left: 1rem solid rgba(25, 103, 134, 0.9);
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;

    display:flex;
    flex-direction: column;
    justify-content: space-between  ;

}
.content-card-text{
    padding:10px 0px 0px 10px;
}

.content-card-title{
    font-weight: 600;
}
.content-card-details{


}
.content-card-icons{
    padding-top:20px;
    align-self: flex-end;
    justify-content: flex-end;
}




.rightside-content{

    display:flex;
    flex-direction: column;
    height:inherit;
    flex-grow:1;
    justify-content: space-between;
    
    /*
    
    display:grid;
    grid-template-rows: 1fr 1fr ; 
    grid-template-columns: clamp(50px,100px,1fr);
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));*/


}

.announcements{

}

.announcement-title{
    font-weight: 600;
 
}
.announcement-card-title{
    font-weight: 600;
    margin-left:10px;
}

.announcement-card-area{
    padding:10px 15px 15px 15px;
    margin:10px;
    background-color: antiquewhite;
    border-radius: 15px;


}
.announcement-card{

    margin:10px;
    font-size: 1.2rem;
    padding:10px;
    height:auto;
    width:auto;

    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgb(145, 155, 58);


}

.trending{
padding-top:10px;
}

.trending-title{
    font-weight: 600;
    margin-left:10px;
}
.trending-card-title{

}
.trending-card-area{
    padding:10px 15px 15px 15px;
    margin:10px;
    background-color: antiquewhite;
    border-radius: 15px;


}

.trending-card{
    margin:10px;
    font-size: 1.2rem;
    padding:10px;
    height:auto;
    width:auto;

    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgb(145, 155, 58);
    display:flex;
    align-items:center;


}

.trending-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right:10px;
  }

  .trending-card-username{
    font-weight:600;
    font-size: 1.1rem;
    color:rgb(125, 130, 207);
  }